nav{
    /* position: fixed ;  讓最上排融合背景*/
}

nav a{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav .logo{
    float: left;
    margin-right: 50px;
    font-size: 25px;
}

nav .menu{
    float: left;
}

nav .menu li{
    float: left;
}

nav .menu a{
    padding-left: 15px;
    padding-right: 15px;
}

nav .login{
    float: right;
}



header{

    background-color: beige;
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: table;
    background-image: 
    linear-gradient(to bottom ,rgba(53, 53, 53, 0.5),rgba(53, 53, 53, 0.5)),
    url("https://images.unsplash.com/photo-1529408686214-b48b8532f72c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2650&h=1440&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=bf38f678707331fad6ab5960235da409");
    color:rgb(234, 241, 255);
}



header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header .fixed-width{
    display: table-cell;
    vertical-align: middle; 
}


#banner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding-top: 0;
}

#banner_list img {
    border: 0px;
    width: 100%;
    height: 600px;
}
#banner_list a {
    position: absolute;
    width: 100%;
}

#banner_bg {
    position: absolute;
    bottom: 0;
    background-color: #000;
    height: 30px;
    filter: Alpha(Opacity=30);
    opacity: 0.3;
    z-index: 1000;
    cursor: pointer;
    width: 100%;
}

#banner_info {
    position: absolute;
    bottom: 0;
    left: 5px;
    height: 20px;
    color: #fff;
    z-index: 1001;
    cursor: pointer
}

/* #banner_text {
    position: absolute;
    width: 120px;
    z-index: 1002;
    right: 3px;
    bottom: 3px;
} */

#banner ul {
    position: absolute;
    list-style-type: none;
    filter: Alpha(Opacity=80);
    opacity: 0.8;
    z-index: 1002;
    margin: 0;
    padding: 0;
    bottom: 3px;
    right: 5px;
}

#banner ul li {
    padding: 0px 8px;
    float: left;
    display: block;
    color: #FFF;
    background: #6f4f67;
    cursor: pointer;
    border: 1px solid #333;
}

#banner ul li.on {
    background-color: #000;
}





footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333;
    color: #fff;
}
footer li {
    line-height: 1.2em;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer p {
    color: #999;
    /* margin-bottom: 30px; */
}
footer .author {
    color: #fff;
}
footer h3 {
    margin-bottom: 30px;
}
footer .info {
    margin: 30px auto;
}

#sns{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #eee;
    background-color:#000;
    /* margin-right: 10px;
    margin-left: 10px; */
}


#sns a{
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}



form{
    height: 600px;
    text-align: center;
    margin-top: 50px;
}





